html, body {
    height: 100%;
    margin: 0;
}

header {
    height: 100vh;
}

div {
    margin: -100px 0 0 -350px;
    width: 700px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
}

div h1, div p {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    margin-top: 15px !important;
}